body{
font-family: 'Lato', sans-serif;

}
h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand img {width:150px}

#footer {background-color: blue;color:#fff}

#lowerfooter {background-color:black;color:#fff}

#lowerfooter i {font-size:60px;margin:14px}
