body{
font-family: 'Lato', sans-serif;

}
h6,
h5,
h4,
h3,
h2,
h1 {
font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand img {width:150px}

#footer {background-color:#18CAE6;color:#fff}

#lowerfooter {background-color:black;color:#fff}

#lowerfooter i {font-size:60px;margin:14px;color:#fff}

.pBox{}
.pBox img {z-index:-1}
.pBox button {z-index:2;position:absolute;right:34%}
.pBox button:hover{}
